/* Font Sizes */
/* End Font Sizes */
/* Sizes */
/* End Sizes */
/* Colors */
/* End Colors */
/*Default Letter Spacing*/
.country-link {
  font-size: 0.85rem;
  line-height: 2.8;
  letter-spacing: 1px; }

.ui.steps .step .content {
  font-family: 'Inter', sans-serif; !important; }
  .ui.steps .step .content .title {
      font-size: 1rem;
      font-weight: 600;
      font-family: 'Inter', sans-serif;
}
  .ui.steps .step .content .description {
    font-size: 0.85rem;
    line-height: 1.2; }
.ui.steps .step:after
{
    display: none !important;
}
.ui.steps .step.active:after
{
    display: none !important;
}
.square-xs {
  width: 16px !important;
  height: 16px !important; }

.square-sm {
  width: 32px !important;
  height: 32px !important; }

.square-md {
  width: 48px !important;
  height: 48px !important; }

.square-lg {
  width: 64px !important;
  height: 64px !important; }

.square-xl {
  width: 80px !important;
  height: 80px !important; }

.square-xxl {
  width: 96px !important;
  height: 96px !important; }

.device-list {
    font-family: 'Inter', sans-serif; !important; }
  .device-list .mdc-list-item__text .mdc-list-item__primary-text {
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 1px; }
  .device-list .mdc-list-item__text .mdc-list-item__secondary-text {
    font-size: 0.85rem;
    letter-spacing: 1px; }

.settings-icon {
  font-size: 2rem;
  color: #bdbdbd; }

a.bold-link {
  font-size: 0.9rem;
    font-family: 'Inter', sans-serif; !important;;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 500; }

.ui.dropdown .search {
  font-size: 0.85rem !important;
  line-height: 1.8 !important;
    font-family: 'Inter', sans-serif; !important;;
  letter-spacing: 1px; }

.pin-digit {
  padding: 10px !important; }

.ui.input.addon > input {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important; }

.ui.dropdown > .clear.icon:before {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f156' !important; }

[data-toggle="ui-isd-dropdown"] {
  min-width: 100px;
  padding: .51857143em 1em !important;
  min-height: 2.5em !important;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: .28571429rem;
  border-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }
  [data-toggle="ui-isd-dropdown"] .text.default {
    font-size: 0.85rem; }

[data-toggle="ui-addon-dropdown"] {
  min-width: 100px;
  padding: .51857143em 1em !important;
  min-height: 2.5em !important;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: .28571429rem;
  border-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }
  [data-toggle="ui-addon-dropdown"] .text.default {
    font-size: 0.85rem; }

#profile-form .ui.checkbox label:after {
  font-size: 11px !important;
  top: 1px !important;
  left: 0px !important; }

#profile-form .ui.dropdown .text.default {
  font-size: 0.85rem !important; }

#profile-form .ui.dropdown.search, #profile-form .ui.dropdown.selection {
  padding: 1em 1em !important;
  /*min-height: 3.5em !important;*/
  border: 1px solid #bac4ce;
  }
  #profile-form .ui.dropdown.search > .dropdown.icon, #profile-form .ui.dropdown.selection > .dropdown.icon {
    line-height: 1 !important;
    top: .85em;
    padding: 1.2em 0.6em; }
    #profile-form .ui.dropdown.search > .dropdown.icon.clear:before, #profile-form .ui.dropdown.selection > .dropdown.icon.clear:before {
      display: inline-block;
      font: normal normal normal 24px/1 "Material Design Icons";
      font-size: inherit;
      text-rendering: auto;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f156' !important; }

#profile-form .ui.form .field > label {
  font-size: 0.85rem !important;
  font-family: 'Inter', sans-serif; !important;
  letter-spacing: 1px;
  margin-bottom: 10px;
  line-height: 1.4;
  margin-right: 0em;
  letter-spacing: 0;
  color: #d3d3d3;
  letter-spacing: 0.065rem;
  font-weight: 500;}

#profile-form .ui.form .field[input-type="select"] {
  font-size: 0.85rem !important; }
  #profile-form .ui.form .field[input-type="select"] .item {
    font-size: 0.85rem !important;
    font-family: 'Inter', sans-serif; !important;
    letter-spacing: 1px;
    line-height: 1.6; }
  #profile-form .ui.form .field[input-type="select"] .text {
    font-size: 0.85rem !important;
    font-family: 'Inter', sans-serif; !important;
    letter-spacing: 1px;
    line-height: 1.6; }

#profile-form .ui.form .field .ui.input > input {
  background-color: #4d4d4d7d !important;
  line-height: 1;
  font-size: 0.85rem !important;
    color: #d3d3c9 !important;
    border: 1px solid #bac4ce;}

#upload-form .ui.checkbox label:after {
  font-size: 11px !important;
  top: 1px !important;
  left: 1px !important; }

#upload-form .ui.dropdown .text.default {
  font-size: 0.85rem !important; }

#upload-form .ui.dropdown.search, #upload-form .ui.dropdown.selection {
  padding: .67857143em 1em !important;
  min-height: 50px !important; }
  #upload-form .ui.dropdown.search > .dropdown.icon, #upload-form .ui.dropdown.selection > .dropdown.icon {
    line-height: 1 !important;
    top: .85em;
    padding: 0.83em; }
    #upload-form .ui.dropdown.search > .dropdown.icon.clear:before, #upload-form .ui.dropdown.selection > .dropdown.icon.clear:before {
      display: inline-block;
      font: normal normal normal 24px/1 "Material Design Icons";
      font-size: inherit;
      text-rendering: auto;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f156' !important; }

#upload-form .ui.form .field > label {
  font-size: 1rem !important;
  font-family: 'Inter', sans-serif; !important;
  letter-spacing: 1px;
  margin-bottom: 10px;
  line-height: 1.4;
    color: #4e6883;
    font-weight: 500;}

#upload-form .ui.form .field[input-type="select"] {
  font-size: 0.85rem !important; }
  #upload-form .ui.form .field[input-type="select"] .item {
    font-size: 0.85rem !important;
    font-family: 'Inter', sans-serif; !important;
    letter-spacing: 1px;
    line-height: 1.4; }
  #upload-form .ui.form .field[input-type="select"] .text {
    font-size: 0.85rem !important;
    font-family: 'Inter', sans-serif; !important;
    letter-spacing: 1px;
    line-height: 1.4; }

#upload-form .ui.form .field .ui.input > input {
  line-height: 1.6;
  font-size: 0.85rem !important; }

.ui.form #twofa-form .field label {
  font-size: 0.85rem !important;
  font-family: 'Inter', sans-serif; !important;
  letter-spacing: 1px;
  margin-bottom: 10px; }

.ui.form .field label.required:after {
  content: '*';
  color: #f44336; }

.confirmation-text {
  font-size: 1rem !important;
  font-family: 'Inter', sans-serif; !important;
  letter-spacing: 1px;
  margin-bottom: 10px; }

.dtp {
   font-family: 'Inter', sans-serif; !important; }
  .dtp .year-picker-item.active {
    color: #1a237e !important;
    font-weight: bold; }
  .dtp .year-picker-item:hover {
    color: #1a237e !important; }
  .dtp .p10 > a {
    color: #ffffff !important; }
  .dtp table.dtp-picker-days tr > td > a.selected {
    background: #2196f3 !important; }
  .dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #1a237e !important; }
  .dtp > .dtp-content > .dtp-date-view > .dtp-date {
    background: #1a237e !important; }

.ui.steps > .step.completed:before {
  font: normal normal normal 24px/1 "Material Design Icons";
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F5E0' !important;
  display: block;
  position: static;
  text-align: center;
  -ms-flex-item-align: middle;
  align-self: middle;
  margin-right: 1rem;
  font-size: 2.5em;
  font-weight: 700;
  color: #21ba45; }

.ui.selection.dropdown > .dropdown.icon {
  z-index: 4 !important; }

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none; }

.popover-body {
  font-size: 0.85rem;
  font-family: 'Inter', sans-serif; !important;
  letter-spacing: 1px; }

.dtp-actual-year:after {
  content: '\FA63';
  position: absolute;
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ui.form input {
  font-size: 0.85rem;
  line-height: 1; }

.document-footer {
  background-color: #f8faff; }
  .document-footer h1 {
    color: #9e9e9e; }
  .document-footer p {
    font-size: 0.9rem;
    color: #616161;
    letter-spacing: 1px; }

.pmd-tabs .nav-tabs > li {
  padding-bottom: 10px;
  font-family: 'Inter', sans-serif; !important;
  letter-spacing: 1px;
  text-align: left; }
  .pmd-tabs .nav-tabs > li > a {
      padding: 0.6rem 1rem !important;
      margin-right: 10px;
    text-transform: none !important; }
    .pmd-tabs .nav-tabs > li > a:hover {
      text-decoration: none; }
  .pmd-tabs .nav-tabs > li.active.active-primary > a {
        color: #4684C4;
        border-radius: 4px;
        background-color: #E6F3FF; }
    .pmd-tabs .nav-tabs > li.active.active-primary > a:hover, .pmd-tabs .nav-tabs > li.active.active-primary > a:focus {
        color: #4684C4;
        border-radius: 4px;
        background-color: #E6F3FF;
    }
  .pmd-tabs .nav-tabs > li.active.active-warning > a {
        color: #f9a825;
        background: #f3eadd;
        border-radius: 4px;}
    .pmd-tabs .nav-tabs > li.active.active-warning > a:hover, .pmd-tabs .nav-tabs > li.active.active-warning > a:focus {
        color: #f9a825;
        background: #f3eadd;
        border-radius: 4px;
    }
  .pmd-tabs .nav-tabs > li.active.active-success > a {
        color: #43a047;
        background: #dcf1dd;
        border-radius: 4px;}
    .pmd-tabs .nav-tabs > li.active.active-success > a:hover, .pmd-tabs .nav-tabs > li.active.active-success > a:focus {
        color: #43a047;
        background: #dcf1dd;
        border-radius: 4px;}
  .pmd-tabs .nav-tabs > li.active.active-danger > a {
        color: #e53935;
        background-color: #fde6e5;
        border-radius: 4px;}
    .pmd-tabs .nav-tabs > li.active.active-danger > a:hover, .pmd-tabs .nav-tabs > li.active.active-danger > a:focus {
        color: #e53935;
        background-color: #fde6e5;
        border-radius: 4px;
    }

.pmd-card-body {
  padding: 15px 0; }


@media only screen and (max-width: 767px){
    .ui.steps
    {
        display: none !important;
    }
    #profile-form .ui.form .field .ui.input > input
    {
        font-size: 0.8rem !important;
    }
}

/*# sourceMappingURL=maps/dashboard.css.map */
