$color_1: #d6e5ef;
$color_2: #4154f1;
$color_3: #717ff5;
$color_4: #012970;
$color_5: #fff;
$color_6: #333;
$font-family_1: "Lora", sans-serif;
$font-family_2: "Nunito", sans-serif;
$background-color_1: #fff;

$color-white:#fff;
$brand-color-g:#6eb9fc;
$brand-color:#df8625;